# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
venv/
.venv/
.env
.env.*
!.env.example

# Node
node_modules/
.next/
out/
dist/
build/
coverage/
.next/**
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
docker-compose.override.yml
**/Dockerfile.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Local databases
*.db
*.sqlite
*.sqlite3

# Alembic
alembic/versions/*.pyc
